img {
    width: 215px;
    height: 290px;
}

.cardContainer {
    width: 215px;
    height: 290px;
    margin-bottom: -94%;
    transition: margin-bottom 0.5s;
    position: relative;
}
.cardContainer:hover {
    margin-bottom: 13%;
}

.buttonContainer {
    display: flex;
    opacity: .7;
    height: 7%;
}

.quantityControlButtons {
    width: 50%;
    z-index: 2;
    justify-content: center;
}

.typeContainer {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin-bottom: 28%;
    margin-right: 3%;
    overflow: hidden;
}

.flexContainer {
    display: flex;
    flex-flow: row wrap;
}

.searchHeader {
    align-content: center;
}